.headerContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: 32px;
}

.logoContainer img{ 
    height: 72px;
}

.navigationContainer{
    display: flex;
    
}

.menu-list {
    list-style-type: none;
    display: flex;
    gap: 20px;
}

.menu-item a {
    color: white;
    font-size: 1em;
    text-decoration: none;
    transition: color 0.3s ease;
}

.menu-item a.active,
.menu-item a:hover {
    color: gray;
}