<!-- Header -->

<!-- <div class="mainContainer">
    <div class="mediaSection">
        <div *ngIf="isLoading" class="skeletonWrapper">
            <p-skeleton width="100%" height="100%"></p-skeleton>
        </div>


        <img 
            *ngIf="!isLoading"
            [src]="imageUrl"
            class="heroImage"
            (load)="onImageLoad()"
        >
    </div>
    
    <div class="aboutContainer">
        <div class="aboutContent">
            <span class="accent textColorBBBB">675 КМ — брендинговое агентство, которое помогает малому и среднему бизнесу запускать и развивать бренды через стратегию, айдентику, упаковку и коммуникации.
            </span>
            
            <p class="processText">Мы создаем бренды с нуля. Начиная от составления стратегии, создания айдентики до упаковки, 3D-визуализации и готового визуала для запуска вашего продукта на маркетплейсах и Amazon.</p>
            
            <div class="badgeWrapper">
                <span class="badge">почему нас выбирают?</span>
            </div>
            
            <p class="ctaText">Мы помогаем вашему бизнесу становиться заметнее.</p>
        </div>
    </div> -->
<!-- </div> -->
<app-hero-scroll></app-hero-scroll>
<router-outlet></router-outlet>