.imageContainer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 65vh;
}

.imageContainer img{
    width: 65vh;
}

.textContainer{
    display: flex;
    max-height: 200px;
    width: 85vw;
}

.textContainer p{
    font-size: 2.5vw;
}