.imageContainer{
    display: flex;
    justify-content: space-between;
    padding-top: 27.5vh;
    text-align: center;
}

.imageContainer img{
    width: 10vh;
}

.textContainer{
    display: flex;
    flex-direction: column;
    width: 100vw;
}

.textContainer p{
    font-size: 2vw;
}