.imageContainer{
    display: flex;
    justify-content: space-between;
    padding-top: 27.5vh;
    text-align: center;
}

.imageContainer img{
    width: 10vh;
}

.textContainer{
    display: flex;
    flex-direction: column;
    width: 85vw;
}

.textContainer .text{
    font-size: 2.5vw;
    margin-bottom: 2vh;
}